button {
  &:focus,
  &:active {
    outline: none;
  }
}

.btn {
  border: 1px solid transparent;
  background: transparent;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  transition: all .3s ease;

  &-default {
    padding: 9px 10px 7px;
    color: #fff;
    background-color: #ff6100;
    &:hover, &:focus, &:active {
      color: #ff6100;
      background-color: transparent;
      border-color: #ff6100;
    }
    &:disabled {
      background-color: #ff8e5b;
      border-color: #ff8e5b;
    }
  }
}
