@import "../../bower_components/normalize-css/normalize";
@import "lib/reboot";
@import "lib/css-bootstrap/bootstrap-grid";
/*@import "lib/jquery.ez-plus";*/
@import 'lib/css-bootstrap/bootstrap';
/* styles */
@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/form";
@import "common/btn";
@import "common/common";
@import "blocks/header";
@import "blocks/main-nav";
@import "blocks/main-offer";
@import "blocks/main-offer-slider";
@import "blocks/main-offer-materials";
@import "blocks/section-service";
@import "blocks/footer-dark";
@import "blocks/footer";
@import "blocks/card";
@import "blocks/carousel-items";
@import "blocks/product-properties";
@import "blocks/quick-card";

.wrapper {
    flex: 1;
}

.modal-title {
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.call-wizard-title {
    padding-left: 35px;
    position: relative;
    display: flex;
    align-items: center;
    .roller {
        width: 20px;
        height: 20px;
        top: -1px;
        left: 0;
        position: absolute;
        fill: $mainColor;
        transition: all 0.3s ease;
    }
}

.title-section {
    font-size: 20px;
    padding: 0;
}

.home-content {
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fafafa;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    line-height: 1.4;
}

.color-carousel {
    margin-bottom: 50px;
}

.color-carousel-media {
    margin-bottom: 15px;
}

.color-carousel-title {
    font-weight: bold;
}

.color-items-slider {
    text-align: center;
}

/*
@import "common/icons";
@import "blocks/top-nav";
@import "blocks/main-tabs";
@import "blocks/quick-view";
@import "blocks/sidebar";
@import "blocks/home-filter";*/

/*

.content-wrap {
    margin-bottom: 50px;
    @include clearfix;
}

.home-content {
    padding: 30px 0;
    background-color: #e6e6e6;
}

.full {
    position: relative;
    &::before, &::after {
        width: 100%;
        height: 100%;
        top: 0;
        content: '';
        position: absolute;
        background-color: inherit;
    }
    &::before {
        right: -100%;
    }
    &::after {
        left: -100%;
    }
}

.modal-body {
    @include clearfix;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.form-group .row {
    @include clearfix;
}

.sidebar {
    fieldset {
        margin-bottom: 30px;
    }
}

.filter-title {
    padding: 4px 0 0;
    margin-bottom: 15px;
    font-size: 18px;
}

.mse2_number_slider {
    margin-bottom: 15px;
}

.filter-number-inputs {
    display: flex;
    label {
        margin-bottom: 0;
        display: inline-flex;
        align-items: baseline;
        &:last-of-type {
            margin-left: auto;
        }
    }
    input {
        width: 70px;
        height: 26px;
        padding: 0 5px;
    }
}

.filter-slider-text {
    margin-right: 5px;
}

#mse2_filters {
    label {
        margin-bottom: 10px;
        padding-left: 25px;
        position: relative;
    }
    [type="checkbox"] {
        position: absolute;
        left: 0;
        top: 2px;
    }
}

!* .product-sort *!

.product-sort {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.filter-total {
    margin-right: auto;
}

.sort-by .sort {
    margin-left: 15px;
    color: #333;
}

.show-by {
    display: inline-flex;
    align-items: baseline;
    .select-custom {
        width: 70px;
        margin-left: 15px;
    }
}

!* MEDIA *!

@include from('m') {
    .top-nav-menu {
        height: 45px;
        border-top: 2px solid #ff6100;
        border-bottom: 2px solid #ff6100;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .mobile-menu {
        display: none;
    }
    
    .main-tabs-content-item {
        padding-top: 15px;
        padding-bottom: 15px;
        width: calc(100% / 4);
        &:hover {
            box-shadow: 0 0 1px 1px rgba(#000, .1);
        }
    }
    
    .card-item {
        width: calc(25% - 10px);
    }
}

@include from('s') {
    .main-tabs-nav-item {
        float: left;
    }
    
    .main-tabs-nav .active::before {
        background-color: #ff6100;
    }
    .card-item {
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .home-filter .filter {
        text-align: right;
    }
}

@include from('l') {
    .main-tabs-content-price {
        margin-right: 10px;
    }
}

@include from('xl') {
    .footer-contacts {
        height: 245px;
    }
}

@include to('l') {
    .main-tabs-content-title {
        min-height: 75px;
    }
    .footer-contacts {
        margin-top: 25px;
        max-width: 100%;
        flex-basis: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@include to('m') {
    .header {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .header-text {
        order: 2;
    }
    
    .quick-view {
        height: 84%;
    }
    
    .card-item {
        min-height: 450px;
    }
}

@include to('s') {
    .wrapper {
        overflow-x: hidden;
    }
    
    .top-nav-menu-point:not(:last-of-type) {
        margin-bottom: 10px;
    }
    .sidebar {
        margin-top: 50px;
    }
    
    .footer-logo {
        margin-bottom: 20px;
        text-align: center;
    }
    
    .home-filter .filter .sort-by {
        margin-bottom: 10px;
    }
}

@include to('xs') {
    .header-logo {
        margin-bottom: 40px;
    }
    
    .header-info-top {
        flex-direction: column;
    }
    
    .header-info-top-phone {
        margin-bottom: 10px;
    }
    
    .header-info-bottom {
        flex-direction: column;
        align-items: center;
    }
    
    .header-info-bottom-mode {
        margin-bottom: 10px;
    }
    .footer-contacts li {
        margin-bottom: 20px;
    }
    
    .footer-menu {
        width: 100%;
        &:first-of-type {
            margin-bottom: 20px;
        }
    }
    .main-tabs-nav .active {
        background-color: #ff6100;
        color: #fff;
    }
    
    .home-filter {
        flex-direction: column;
    }
    
    .home-filter .all-doors {
        margin-bottom: 10px;
    }
    
    .home-filter .filter .title {
        margin-bottom: 5px;
    }
}

@include at('m') {
    .header-logo {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -143px;
        z-index: 2;
        width: auto;
    }
    .header-info {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@include at('l') {
    .sidebar-free-shipping::before {
        margin-right: 10px;
    }
    .card-title {
        min-height: 60px;
    }
    .footer-top .col-md-3 {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

@include at('s') {
    .card-item {
        width: calc(50% - 10px);
    }
    .main-tabs-content-item {
        width: calc(100% / 2 - 10px);
        margin-bottom: 20px;
        box-shadow: 0 0 1px 1px rgba(#000, .1);
    }
}

@include between('s', 'l') {
    .footer-contacts li {
        flex-basis: 50%;
        margin-bottom: 15px;
    }
}
*/
